@font-face {
    font-family: "Abril Fatface";
    src: url(fonts/Abril_Fatface/AbrilFatface-Regular.ttf) format('truetype');
    font-family: "Merriweather";
    src: url(fonts/Merriweather/Merriweather-Regular.ttf) format('truetype');
    font-family: "Work Sans";
    src: url(fonts/Work_Sans/WorkSans-VariableFont_wght.ttf)
}

.Abril_Fatface {
    font-family: 'Abril Fatface';
}

.Merriweather {
    font-family: "Merriweather";
}

.Work_Sans  {
    font-family: "Work Sans";
}

body {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0 auto;

}

header h1 {
    text-align: center;
    width: 100%;
    padding: 30px 0;
}

section {
    border: solid 2px black;
    margin: 10px;
    padding: 10px;
    
}


.colours div {
    display: inline-block;
    padding: 20px 10px;
    margin: 30px auto;
    color: white;
    width: 23%
}

.colours div p {
    text-align: center;
    font-weight:800

}

.Minty_Blue {
    background-color: #19D9FF;
}

.Red_Hot {
    background-color: #FF5533;
}

.Garden_Green {
    background-color: #77FF33;
}

.Heavy_Purple {
    background-color: #550080;
}

.Fonts {
    display: inline-block;
    height: 700px;
    width: 600px;
    vertical-align: top;
    line-height: 2;
}

.Text_Styles {
    display: inline-block;
    height: 700px;
    width: 600px;
    vertical-align: top;
}